<a href="https://colab.research.google.com/github/andreoniriccardo/andreoniriccardo.github.io/blob/main/Distance%20Learning%20Twitter%20Sentiment%20Analysis%20w%20snscrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# install snscrape
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [29]:
# import required libraries
import snscrape.modules.twitter as sntwitter
import pandas as pd
from IPython.display import clear_output

In [33]:
# define function to retrieve tweets for a defined day and topic
def fetch_tweets(query, language, from_date, to_date, n_of_tweets):
  
  query = str(query)
  tweets_list = []
  
  query_string = query + " lang:" + language + " until:" + to_date + " since:" + from_date
  i = 0
  for tweet in sntwitter.TwitterSearchScraper(query_string).get_items():
    i += 1
    if len(tweets_list) == n_of_tweets:
      break
    else:
      tweets_list.append([tweet.date, tweet.username, tweet.content])
    clear_output(wait=True)
    print("Getting tweet n. ", i, "of ", n_of_tweets)
  
  columns = ['Time', 'User', 'Tweet']      
  df = pd.DataFrame(tweets_list, columns=columns)
  
  clear_output(wait=True)
  print("Adding tweets to df")

  return df

In [27]:
# create dates array
dates = list(pd.date_range(start='01/01/20', end='12/31/20'))

def toYYYYMMDDmmmm(my_date):
  my_date = my_date.strftime("%Y-%m-%d")
  return my_date

dates_UTC = list(map(toYYYYMMDDmmmm, dates))

In [41]:
# fetch the tweets

# specity query and number of tweets per period
query = 'distance learning'
language = 'en'
n_of_tweets = 500

# initialize df
columns = ['Time', 'User', 'Tweet']
df = pd.DataFrame(columns=columns)

for i in range(0, len(dates_UTC)-1):
  # specify end date
  from_date = dates_UTC[i]
  to_date = dates_UTC[i+1]

  current_df = fetch_tweets(query, language, from_date, to_date, n_of_tweets)

  df = pd.concat([df, current_df], ignore_index=True)
  print(i)

Adding tweets to df
364

In [42]:
df

,Time,User,Tweet
0,2020-01-01 23:49:16+00:00,JJClaptonWrites,2012: the year I finally had to give up any ho...
1,2020-01-01 20:44:20+00:00,ClientSDL,SDL for #EducationandTraining #Teaching #Learn...
2,2020-01-01 19:32:55+00:00,stinkingflower,"@Ali_Davis At 58, I'm going for my 3rd Degree,..."
3,2020-01-01 15:40:08+00:00,ITGovernanceEU,ðŸ“š Distance learning offers you a cost effectiv...
4,2020-01-01 14:04:15+00:00,PrepperWebsite,INFOGRAPHIC: #History of Online Learning https...
...,...,...,...
153438,2020-12-30 10:01:00+00:00,kidstogether,COVID-19 means a lot more work for families of...
153439,2020-12-30 10:00:47+00:00,MLUniKent,We hope you have enjoyed our series of posts r...
153440,2020-12-30 09:58:37+00:00,jurijkovalenok1,@elonmusk Oh Uncle Elon Musk is here ))) A few...
153441,2020-12-30 09:55:12+00:00,teachmiddleeast,All Abu Dhabi schools to continue distance lea...
153442,2020-12-30 09:54:58+00:00,leisagrace,All Abu Dhabi schools to continue distance lea...

In [43]:
df['Time'].max()

Timestamp('2020-12-30 23:58:43+0000', tz='UTC')

In [44]:
df['Time'].min()

Timestamp('2020-01-01 06:23:39+0000', tz='UTC')

In [45]:
df.to_csv('500_per_day.csv')